
html,
body {
    height: 100%;
    margin: 0;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow{
    display: flex;   
}

.container {
    display: flex;
    border: black solid 3px;
    height: 500px;
    width: 300px;
}
.screen {
    width: 100%;
    height: 70px;
    background-color: #b2b9b7;
    
}
button {
    border: none;
}
.calculator {
    height: 500px;
    width: 300px;
    
    
}
button{
    height: 86px;
    width: 100px;
    
}
.content {
    width: 100%;
    height: 70px;
    text-align: end;
    padding-top: 10px;
    font-size: 40px;
    
    
}